body{
    font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
}
#nav_bar{

    color: white;
    height: 55px;
    background: rgb(153, 189, 47);
}

.navbar li a .navbar .navbar-brand{
    /* margin-top: 50px !important;
     padding-bottom: 20px !important; */
    font-size: 25px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: rgb(153, 189, 47) !important;
    background-color: #fff !important;
}

li.active a {
    height: 55px;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    background-color: rgb(153, 189, 47) !important;
    /*background-color: rgb(153, 189, 47) !important; */
}

#myNavbar {
    background-color:  rgb(153, 189, 47) !important ;
}

#main_body{
    /*font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    animation: fade;
    /*background: rgb(189, 116, 32);*/
}
#section1{
    /* background-color: #cccccc;
     height: 600px; */
    padding-top: 20px;
}
.img-responsive{
    width : 550px;
    height : 600px;
    margin-top: 70px;
    /*margin-left: 20px;
    transform: skew(7deg);*/
}

#log_image{
    -webkit-filter: opacity(45%);
    padding-left: 20px;
}

#EOD_transaction{
    -webkit-filter: opacity(25%);
}

#id0,#id1,#id2{
    background-color: rgb(153, 189, 47);
}

.glyphicon{
    color: rgb(153, 189, 47);
}

.glyphicon-user{
    color: white;
}
.glyphicon-chevron-left, .glyphicon-chevron-right {
    background-image: none;
}

.myCarousel {
    background: rgba(0,0,0,0);
}

#row_pwd, #pwd_mgmt, #rep_row{
    padding-top: 20px;
    background-color: gainsboro;
}

.badge{
    background-color: rgb(153, 189, 47);
}

.scroll{
    background-color: black;
}

#pwd_mgmt{
    background: none;
}

#row_pwd {
    background-image  : url('../img/passowrd.jpg');

    /* Full height */
    height: 60%;

    /* Create the parallax scrolling effect */

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-blend-mode: color-dodge;*/
}
